{% extends 'base.html.twig' %}

{% block title %}Nouveau pain{% endblock %}

{% block body %}
    <h1>Ajouter un Nouveau Pain</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('app_pain') }}">Retour à la liste des pains</a>
{% endblock %}